* {
  margin: 0;
  padding: 0;
  font-family: "Anonymous Pro", sans-serif;
  color: #fff;
  box-sizing: border-box;
}

body {
  background: #3d3850;
  position: relative;
  z-index: 1;
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8svh 2svw;
}

header button {
  position: absolute;
  left: 1svw;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70svh;
}

.main-container_botoes {
  margin-top: 5svh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.main-container_botoes button {
  background: transparent;
  border: #fff solid 2px;
  border-radius: 12px;
  padding: 10px;
  font-size: larger;
}

.main-container_botoes button:hover {
  background: #2d2a3b;
  cursor: pointer;
  text-decoration: underline;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

aside {
  display: flex;
  flex-direction: column;
  max-width: 50svw;
  max-height: 80svh;
  margin-left: 5svw;
  overflow: hidden;
}

aside img {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  object-fit: fill;
}

main {
  display: flex;
  flex-direction: column-reverse;
  flex-grow: 1;
  gap: 3svh;
}

.teclado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 5svh;
}

.teclado_letra {
  background: transparent;
  border-radius: 12px;
  border: white solid 2px;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.acerto {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-evenly;
  color: inherit;
  margin: 2svw;
}

.acerto p {
  color: inherit;
}

.erros {
  margin-top: 5svh;
}

.palavra {
  display: flex;
  align-self: center;
  gap: 10px;
}

.palavra p {
  border-bottom: 2px solid #fff;
  font-size: x-large;
}

.btnVoltar {
  display: none;
  background: transparent;
  border: black solid 2px;
  border-radius: 12px;
  padding: 10px;
  font-size: larger;
  color: black;
}
.btnRecomecar {
  display: none;
  background: transparent;
  border: black solid 2px;
  border-radius: 12px;
  padding: 10px;
  font-size: larger;
  color: black;
}

.btnVoltar:hover,
.btnRecomecar:hover {
  background: #7c7c7c;
  cursor: pointer;
}

.card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  height: 300px;
  border-radius: 20px;
  color: black;
}

@media all and (max-width: 480px) {
  header h1 {
    font-size: x-large;
  }

  aside {
    flex-direction: row;
    height: 40svh;
    max-width: 400svw;
    width: 70%;
  }

  .teclado {
    margin-top: 15svh;
  }

  .teclado_letra {
    font-size: small;
  }

  .card {
    width: 80svw;
    justify-content: center;
  }
}
